# Python bytecode
__pycache__/
*.pyc

# Environment & Dependencies
.venv/
.env
temp/*

# Project specific
checkpoints/
logs/
*.log
.ray_tmp/

# Submodules / External Source
pokemon-showdown/

# OS specific
.DS_Store
scripts/clean_ray_training_cache.sh